<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello thymeleaf</title>
</head>

<body>
<div>
    <h3>Form에서 사용</h3>
    <p>게시판 입력</p>
    <form method="POST" th:action="@{/insert}" th:object="${bvo}"  class="my-login-validation" novalidate="">
        <div class="form-group">
            <label for="name">Name</label>
            <input th:name="userId" id="name" type="text" class="form-control" name="name" required autofocus>
            <div class="invalid-feedback">
                What's your name?
            </div>
        </div>

        <div class="form-group">
            <label for="email">E-Mail Address</label>
            <input th:name="boardTitle" id="email" type="email" class="form-control" name="email" required>
            <div class="invalid-feedback">
                Your email is invalid
            </div>
        </div>

        <div class="form-group">
            <label for="email">E-Mail Address</label>
            <input th:name="boardContents" id="boardContents" type="email" class="form-control" name="email" required>
            <div class="invalid-feedback">
                Your email is invalid
            </div>
        </div>


        <div class="form-group m-0">
            <button type="submit" class="btn btn-primary btn-block">
                Register
            </button>
        </div>
        <div class="mt-4 text-center">
            Already have an account? <a th:href="@{'/list'}">list</a>
        </div>
    </form>
</div>
</body>
