<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">

<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<!--<form role="form" method="post" >-->
<!--    <input type="hidden" name="boardNo" value="${BoardVO.boardNo}"/>-->
<!--</form>-->


    <div class="container">
        <p>글번호 : [[${BoardVO.boardNo}]]</p>
        <p>작성자 : [[${BoardVO.userId}]]</p>
        <p>제목 : [[${BoardVO.boardTitle}]]</p>
        <p>내용 : [[${BoardVO.boardContents}]]</p>
        <button th:onclick="deleteBoard([[${BoardVO.boardNo}]])">삭제하기</button>
        <button th:onclick="modifyBoard([[${BoardVO.boardNo}]])">수정하기</button>
    </div>

    <div>
        <h4>댓글목록</h4>
        <!-- 댓글목록 -->
        <ul id="reply" style="list-style:none;">
        </ul>
    </div>
<script>
    $(document).ready(function () {
    var boardNo = [[${BoardVO.boardNo}]];
    console.log("boardNo=" + boardNo);

    $.getJSON("/replies/all/" + boardNo, function (data){
        console.log("결과는 =" + JSON.stringify(data));
        console.log((data.replyList.length));
        var str ="";

        $(data.replyList).each(function () {
            var replyWriter = "'"+ this.replyWriter+"'";
            console.log("replyWriter!!"+replyWriter);

            str +="<li data-replyNo='"+ this.replyNo +"' class='replyList' style='text-align:left;'>"
                +"<h4>"+ this.replyNo +"</h4>"
                +"<h4>"+ this.replyWriter + "</h4>"
                +"<blockquote>"+ this.replyContents +"</blockquote>"
                +"</li>"
                +"<hr/>";
        });

        $("#reply").html(str);

    });
    });
</script>


<script>
    function deleteBoard(boardNo){
        if (boardNo != null){
            $(location).attr('href','/delete?boardNo='+boardNo);
        }
    }

    function modifyBoard(boardNo){
        if (boardNo != null){
            $(location).attr('href','/update?boardNo='+boardNo)
        }
    }

</script>
</body>

</html>

