<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:id="http://www.w3.org/1999/xhtml">

<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello thymeleaf</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<form role="form" method="post" >
    <input type="hidden" name="boardNo" value="${BoardVO.boardNo}"/>
</form>

<form class="form-horizontal style-form" method="post">
    <div class="container">
        <p>글번호 : [[${BoardVO.boardNo}]]</p>
        <p>작성자 : [[${BoardVO.userId}]]</p>
        <p>제목 : [[${BoardVO.boardTitle}]]</p>
        <p>내용 : [[${BoardVO.boardContents}]]</p>
        <button type="submit" id="menu-button">삭제하기</button>
    </div>
</form>

<script>
    // $(document).ready(function() {
    //     var frmObj = $("form[role='form']");
    //     console.log("폼태그입니다..");

        $(".menu-button").on("click", function () {
            var boardNo = $("BoardVO.boardNo").val();
            $.ajax({
                url: "/delete",
                data: "boardNo=" + boardNo,
                type: "POST",
                success : function(data){
                    alert("성공")
                },
                error : function(){
                    alert("에러")
                }
            });
        });

</script>
<!--<th:block layout:fragment="script">-->
<!--    <script th:inline="javascript">-->
<!--        /*<![CDATA[*/-->

<!--        function deletePOST(boardNo){-->

<!--            if (confirm(boardNo + "번 게시글을 삭제할까요?")) {-->
<!--                var uri = /*[[ @{/board/delete.do} ]]*/;-->
<!--                var html = "";-->

<!--                html += '<form name="dataForm" action="'+uri+'" method="post">';-->
<!--                html += '<input type="hidden" name="boardNo" value="'+boardNo+'" />';-->
<!--                html += '</form>';-->

<!--                $("body").append(html);-->
<!--                document.dataForm.submit();-->
<!--            }-->
<!--        }-->
<!--        /*[- end of function -]*/-->

<!--        /*]]>*/-->
<!--    </script>-->
<!--</th:block>-->
<!--<div>-->
<!--    <button th:type="submit" class="menu-button">삭제하기</button>-->
<!--</div>-->


</body>

</html>